.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-modal-background);
}

.auth-modal__modal {
  max-width: 680px;
  height: calc(700px - 20vh);
  flex: 1;
  border: 1px solid black;
}

.auth-template {
  padding: 0 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-template__auth-option {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: 1px solid var(--primary-dark);
  padding: 10px 5px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.auth-template__auth-option--icon {
  margin-right: 10px;
  /* border: 1px solid black; */
}
