.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
}

.header {
  max-width: 1150px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo h1 {
  font-weight: 600;
}

.header__logo--greeting {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid var(--primary-dark);
}

.header__logo--greeting h1 {
  /* font-size: 15px; */
  font-weight: 300;
}

.header__menu--container {
  display: flex;
}

.header__menu--container__link,
.header__menu--container__link--button {
  position: relative;
  margin: 0 15px;
  font-size: 14px;
}

.header__menu--container__link--icon {
  font-size: 20px;
}

.header__menu--container__link--button {
  padding: 10px 15px;
  color: var(--primary-white);
  background: var(--primary-dark);
  border-radius: 5px;
}

.header__menu--container__link--button__logged-in {
  color: var(--primary-dark);
  background: var(--primary-white);
  border: 1px solid var(--primary-dark);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 13px;
}

.header__menu--dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  width: 200px;
  color: var(--primary-faded);
  background: var(--primary-white);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
}

.header__menu--dropdown div {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--secondary-faded);
}

.header__menu--dropdown div:last-child {
  border-bottom: none;
}

.header__menu--dropdown div a {
  font-size: 13px;
  margin-bottom: 15px;
}

.header__menu--dropdown div a:last-child {
  margin-bottom: 0;
}
