.profile__settings {
  max-width: 1050px;
  margin: 70px auto 0;
  padding: 70px;
  display: flex;
}

.profile__settings-nav {
  width: 265px;
  margin-right: 20px;
}

.profile__settings-nav div {
  position: sticky;
  top: 140px;
}

.profile__settings-nav h3 {
  margin-bottom: 20px;
}

.profile__settings-nav ul li {
  margin-bottom: 30px;
  color: var(--primary-faded);
}

.profile__settings-action {
  width: 780px;
  display: flex;
  flex-direction: column;
}

.profile__settings--profile__component {
  display: flex;
  justify-content: space-between;
}

.profile__settings--profile__comp-fields {
  width: 60%;
  position: relative;
}

.profile__settings--profile__comp-fields h3 {
  margin: 40px 0 10px;
}

.profile__settings--profile__comp-fields input {
  display: block;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-faded);
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: inherit;
  font-family: "Segoe UI";
}

.profile__settings--profile__comp-fields textarea {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-faded);
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  resize: none;
  color: inherit;
}

.profile__settings--profile__comp-fields span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}

.profile__settings--profile__comp-fields label {
  display: block;
  margin-top: 10px;
  float: right;
  cursor: pointer;
  position: relative;
}

.profile__settings--profile__comp-fields label img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.profile__settings--profile__comp-fields label svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.profile__settings--profile__comp-edit {
  margin: 20px 0 0;
}

.profile__settings--profile__comp-edit button {
  padding: 10px 15px;
  background: none;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  color: #bebebe;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}

.profile__settings--profile__comp-edit__save-btn {
  border: 1px solid rgb(0, 128, 0) !important;
}

@media screen and (max-width: 750px) {
  .profile__settings-nav {
    display: none;
  }

  .profile__settings {
    padding: 70px 20px;
  }

  .profile__settings--profile__component {
    flex-direction: column;
    justify-content: unset;
  }

  .profile__settings--profile__comp-fields {
    width: 100%;
  }

  .profile__settings--profile__comp-edit button {
    margin-left: unset;
  }

  .profile__settings--profile__comp-edit__save-btn {
    margin-right: 10px;
  }
}

.bg-mode--dark button {
  border: 1px solid #6e40c950;
}
